.header {
  background-color: rgba(154, 205, 50, 0.5);
  display: flex;
  padding: 10px 8px;
  gap: 10px;
  margin-bottom: 20px;
  align-items: center;
}

.main {
  display: flex;
  justify-content: center;
}
