.link {
  display: inline-flex;
  color: rgba(0, 255, 255, 0.5);
  align-items: center;
  height: 40px;
}

.active {
  color: rgb(0, 255, 255);
  text-decoration: underline;
}

.p {
  display: inline-block;
  align-self: center;
}

.span {
  font-weight: bolder;
}

@media screen and (max-width: 404px) {
  .button {
    padding: 3px 2px 0 2px;
  }
}
